/* Global settings */
html {
    font-size: 15px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 17px;
    }
}

/* Buttons */
.btn {
    border-radius: 30px;
    background-color: #ff6f61;
    border: none;
    transition: all 0.3s ease;
}

    .btn:hover {
        background-color: #e65c55;
    }

    .btn:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.5);
    }

/* Shadows */
.shadow-lg {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

/* Typography */
.text-primary {
    color: #1d3557;
}

.font-weight-bold {
    font-weight: 600;
}

/* Footer margin */
body {
    margin-bottom: 80px;
}
